.action-block
	.action-block-text
		.action-block-text__header <span class="text-primary">Бесплатная</span> доставка до двери
		.action-block-text__text Мы привезём вам фейерверк в любой город России <br> при заказе от 3000 рублей
		a(href="#").btn.btn-secondary Заказать фейверки
	.action-block-image: img(src="img/action-car.png", alt="")