nav.left-menu
	ul.left-menu-list
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-1
				span Батареи салютов
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-2
				span Бенгальские огни
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-3
				span Комбинированные салюты
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-4
				span Наземные фейерверки
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-5
				span Одиночные салюты
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-6
				span Петарды
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-7
				span Ракеты
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-8
				span Римские свечи
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-9
				span Фонтаны
		li.left-menu-list__item
			a(href="#").left-menu-item
				i.icm.icon-ln-10
				span Хлопушки 