//-title
-var siteName = 'Title';
//-responsive
-var responsive = true;
//- css
-
	var cssList = [
		'libs/font-awesome/web-fonts-with-css/css/fontawesome-all.css',
		'libs/fancybox/dist/jquery.fancybox.min.css',
		'fonts/icomoon/style.css',
		'libs/owl.carousel/dist/assets/owl.carousel.min.css',
		'libs/nouislider/distribute/nouislider.min.css',
		'libs/select2/dist/css/select2.min.css',
		'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i',
		'css/bootstrap-grid.css',	
		'css/style.css'
	];
//- javactipt
-
	var scriptList = [
		'libs/jquery/dist/jquery.min.js',
		'libs/fancybox/dist/jquery.fancybox.min.js',
		'libs/nouislider/distribute/nouislider.min.js',
		'libs/owl.carousel/dist/owl.carousel.min.js',
		'libs/select2/dist/js/select2.min.js',
		'js/custom.js'
	];