extends _template

block main
	.about-us
		.container.mb-3
			ul.breadcrumbs
				li.breadcrumbs-item: a(href="/").breadcrumbs-link Главная
				li.breadcrumbs-item Каталог
			.row.justify-content-between.align-items-center
				.col
					.about-us-content
						h1.h.h-dec.text-xl Интернет-магазин «Пиротехника.<span class="text-primary">РУ</span>»
						p Любые фейерверки из интернет каталога можно заказать с доставкой на дом или самовывозом. Компания организует оперативную доставку собственной логистической службой во многие точки страны, при этом мы сами ведем весь заказ – от подтверждения покупки до вручения клиенту. 

						p Обратите внимание, что при оформлении онлайн-заказов цены ниже, чем в рознице. Также у нас действуют скидки в зависимости от объема заказа, и предусматривается возможность бесплатной доставки. Квалифицированные и вежливые специалисты профессионально консультируют клиентов, помогают подбирать фейерверки по индивидуальным запросам и подсказывают, как лучше устроить яркое и красочное пиротехническое шоу любого масштаба.

						p Никакого контрафакта! Вся продукция прошла официальную сертификацию в уполномоченных государственных органах. На каждое изделие нанесена полная информация о правилах безопасного использования.

						p Никаких сторонних служб доставки. Всю работу по ведению заказа от созвона с покупателем и до доставки заказа до дверей мы делаем сами.

						p Более 400 различных видов пиротехнических изделий ведущих брендов. В каждой категории фейерверков представлены товары от самых недорогих до элитных.

				.col-auto.d-none.d-lg-block
					img(src="img/about-us.png", alt="")
	.home-content-section
		.container
			.content-section
				h2.h.ta-center.text-l.mb-1 О нас
				.row
					.col-12.col-md-6
						p Мы не рекламируем, не предлагаем и не продаём "Воздух". На Пиронете вы никогда не увидите карточку какого-либо фейерверка с неприятным комментарием "Временно недоступен". Вся продукция синхронизируется по наличию с нашими складами каждый час! По всем городам присутствия. 

						p Если вы выбрали ваш город и видите в каталоге интересующий вас товар и его цену - значит как минимум одна штука этого товара в выбранном городе по крайней мере час назад точно была и с вероятностью в 99.9% есть прямо сейчас. И вы гарантировано получите именно то, что выбрали. 

						p Мы предлагаем только лучшие фейерверки. А лучшие фейерверки - китайские. Изготовлением фейерверков в Китае занимаются уже более 10 веков и сейчас никто в мире не сможет сравниться с мастерством китайских пиротехников. Мы не является перекупщиком чьей-либо продукции, все наши фейерверки изготавливаются по прямым контрактам и являются эксклюзивными по эффектам и дизайну.
					.col-12.col-md-6
						p Наши цены абсолютно адекватны, охватывают весь возможный диапазон ваших пожеланий от небольших салютов по 100 рублей до мегабатарей и соответствуют качеству предлагаемой продукции. Мы уже больше 20 лет занимаемся фейерверками в России, знаем, сколько что должно стоить и можем предложить вам разумный выбор. 

						p Мы предлагаем вам практически бесконечное количество вариантов оплаты. Наличный расчёт, пластиковые карты, банковские переводы, электронные валюты, онлайн-банки, терминалы оплаты, даже счета ваших сотовых телефонов - выбирайте любой удобный вам способ. Только одна просьба: не торопитесь оплачивать заказ любым безналичным способом, дождитесь звонка нашего оператора, помните про тот самый 0.1%.

						p.mobile-paragraph Мы не оставим наших клиентов наедине с возникшими проблемами. Пиронет, несмотря на широчайший географический охват имеет централизованное управление. Если любой ваш вопрос или претензию не смогли решить сотрудники на месте, просто напишите на электронную почту info@pirotech.ru и ваша проблема станет нашей.   <a href="#">Подробнее</a>