extends _template

block main
	.container.mb-3
		ul.breadcrumbs
			li.breadcrumbs-item: a(href="/").breadcrumbs-link Главная
			li.breadcrumbs-item Каталог
		.ta-center
			h1.h.text-l.mb-3 Оформление заказа 
	.container
		.row.mb-2
			.col-12.col-lg-6.mb-2.mb-lg-0
				.action-block-default(style="background-image: url(img/action-1.png)")
					.action-block
						.action-block-text
							.action-block-text__header <span class="text-primary">Бесплатная</span> доставка до двери
							.action-block-text__text Мы привезём вам фейерверк в любой город России <br> при заказе от 3000 рублей
							a(href="#").btn.btn-secondary Заказать фейверки
			.col-12.col-lg-6.mb-2.mb-lg-0
				.action-block-default(style="background-image: url(img/action-2.png)")
					.action-block
						.action-block-text
							.action-block-text__header Накопительная система скидок
							.action-block-text__text 
								.mb-2 Мы предлагаем вам следующие скидки на общую сумму заказа:
								ul.ns
									li -  от 5 000 рублей - 5%
									li -  от 20 000 рублей - 10%
									li -  от 50 000 рублей - 15%
									li -  от 100 000 рублей - 20%.
		.row
			.col-12
				.sort-panel.mb-2
					.sort-panel-col 
						span Показано 1-30 из 592
					.sort-panel-col 
						span Сортировать по:
						select.select 
							option(value="#") Цене - Убыванию
							option(value="#") Цене - Убыванию
							option(value="#") Цене - Убыванию
							option(value="#") Цене - Убыванию
					.sort-panel-col
						span Показывать по: 
						select.select 
							option(value="#") 28
							option(value="#") 28
							option(value="#") 28
							option(value="#") 28
		.row.action-products-list
			include includes/product-action
			-for(i=0; i<10;i++)
				.col: +productAction('img/product-1.png', 'Огненный вихрь', '9 228 РУБ', '7 228 РУБ', '-22%')
		.row.justify-content-center
			.col-auto
				ul.pagination
					li.pagination__item.disabled: i.fa 
					li.pagination__item.active 1
					li.pagination__item 2
					li.pagination__item 3
					li.pagination__item: i.fa 
	.home-content-section
		.container
			.content-section
				h2.h.ta-center.text-l.mb-1 Любые фейерверки для вас
				.row
					.col-12.col-md-6
						p Мы не рекламируем, не предлагаем и не продаём "Воздух". На Пиронете вы никогда не увидите карточку какого-либо фейерверка с неприятным комментарием "Временно недоступен". Вся продукция синхронизируется по наличию с нашими складами каждый час! По всем городам присутствия. 

						p Если вы выбрали ваш город и видите в каталоге интересующий вас товар и его цену - значит как минимум одна штука этого товара в выбранном городе по крайней мере час назад точно была и с вероятностью в 99.9% есть прямо сейчас. И вы гарантировано получите именно то, что выбрали. 

						p Мы предлагаем только лучшие фейерверки. А лучшие фейерверки - китайские. Изготовлением фейерверков в Китае занимаются уже более 10 веков и сейчас никто в мире не сможет сравниться с мастерством китайских пиротехников. Мы не является перекупщиком чьей-либо продукции, все наши фейерверки изготавливаются по прямым контрактам и являются эксклюзивными по эффектам и дизайну.
					.col-12.col-md-6
						p Наши цены абсолютно адекватны, охватывают весь возможный диапазон ваших пожеланий от небольших салютов по 100 рублей до мегабатарей и соответствуют качеству предлагаемой продукции. Мы уже больше 20 лет занимаемся фейерверками в России, знаем, сколько что должно стоить и можем предложить вам разумный выбор. 

						p Мы предлагаем вам практически бесконечное количество вариантов оплаты. Наличный расчёт, пластиковые карты, банковские переводы, электронные валюты, онлайн-банки, терминалы оплаты, даже счета ваших сотовых телефонов - выбирайте любой удобный вам способ. Только одна просьба: не торопитесь оплачивать заказ любым безналичным способом, дождитесь звонка нашего оператора, помните про тот самый 0.1%.

						p.mobile-paragraph Мы не оставим наших клиентов наедине с возникшими проблемами. Пиронет, несмотря на широчайший географический охват имеет централизованное управление. Если любой ваш вопрос или претензию не смогли решить сотрудники на месте, просто напишите на электронную почту info@pirotech.ru и ваша проблема станет нашей.   <a href="#">Подробнее</a>