extends _template

block main
	.container.mb-5
		.row
			.col-12.col-lg-3
				.mb-2.d-none.d-md-block.left-menu-md
					include includes/left-menu
				include includes/catalog-filter
			.col-12.col-lg-9
				.row.align-items-center.justify-content-between.mb-1
					.col-auto
						h1.h.text-m1 Батареи салютов
					.col-auto
						ul.breadcrumbs
							li.breadcrumbs-item: a(href="/").breadcrumbs-link Главная
							li.breadcrumbs-item Каталог
				.sort-panel.mb-2
					.sort-panel-col 
						span Показано 1-30 из 592
					.sort-panel-col 
						span Сортировать по:
						select.select 
							option(value="#") Цене - Убыванию
							option(value="#") Цене - Убыванию
							option(value="#") Цене - Убыванию
							option(value="#") Цене - Убыванию
					.sort-panel-col
						span Показывать по: 
						select.select 
							option(value="#") 28
							option(value="#") 28
							option(value="#") 28
							option(value="#") 28
				.row
					-for(i=0;i<12;i++)
						.col-6.col-sm-4.col-lg-3.mb-2
							include includes/product-item
					.col-12
						ul.pagination
							li.pagination__item.disabled: i.fa 
							li.pagination__item.active 1
							li.pagination__item 2
							li.pagination__item 3
							li.pagination__item: i.fa 
	.background-muted.d-none.d-md-block
		.container
			include includes/action-block
	.home-content-section
		.container
			.content-section
				h2.h.ta-center.text-l.mb-1 Любые фейерверки для вас
				.row
					.col-12.col-md-6
						p Мы не рекламируем, не предлагаем и не продаём "Воздух". На Пиронете вы никогда не увидите карточку какого-либо фейерверка с неприятным комментарием "Временно недоступен". Вся продукция синхронизируется по наличию с нашими складами каждый час! По всем городам присутствия. 

						p Если вы выбрали ваш город и видите в каталоге интересующий вас товар и его цену - значит как минимум одна штука этого товара в выбранном городе по крайней мере час назад точно была и с вероятностью в 99.9% есть прямо сейчас. И вы гарантировано получите именно то, что выбрали. 

						p Мы предлагаем только лучшие фейерверки. А лучшие фейерверки - китайские. Изготовлением фейерверков в Китае занимаются уже более 10 веков и сейчас никто в мире не сможет сравниться с мастерством китайских пиротехников. Мы не является перекупщиком чьей-либо продукции, все наши фейерверки изготавливаются по прямым контрактам и являются эксклюзивными по эффектам и дизайну.
					.col-12.col-md-6
						p Наши цены абсолютно адекватны, охватывают весь возможный диапазон ваших пожеланий от небольших салютов по 100 рублей до мегабатарей и соответствуют качеству предлагаемой продукции. Мы уже больше 20 лет занимаемся фейерверками в России, знаем, сколько что должно стоить и можем предложить вам разумный выбор. 

						p Мы предлагаем вам практически бесконечное количество вариантов оплаты. Наличный расчёт, пластиковые карты, банковские переводы, электронные валюты, онлайн-банки, терминалы оплаты, даже счета ваших сотовых телефонов - выбирайте любой удобный вам способ. Только одна просьба: не торопитесь оплачивать заказ любым безналичным способом, дождитесь звонка нашего оператора, помните про тот самый 0.1%.

						p.mobile-paragraph Мы не оставим наших клиентов наедине с возникшими проблемами. Пиронет, несмотря на широчайший географический охват имеет централизованное управление. Если любой ваш вопрос или претензию не смогли решить сотрудники на месте, просто напишите на электронную почту info@pirotech.ru и ваша проблема станет нашей.   <a href="#">Подробнее</a>